
{% extends 'Base/base.html'%}

{% load staticfiles %}

{% block nav %}
 <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{%  url 'index'%}"><img class="logo" src="http://cdn.archat.la/static_unired/assets/img/slider/images/logo.jpeg" alt=""></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'index' %}">SECCIONES</a></li>
                    <li><a href="{% url 'nuevo' %}">AGREGAR NUEVA SECCION</a></li> 
                     <div class="col-sm-3 col-md-4">
  <input class="form-control univ_red_buscar" id="univ_red_buscar" type="text" placeholder="  Buscar aqui" aria-label="Buscar">
                </ul>
            </div>
            </div>

        </div>
    </div>
    {%endblock%}

{% block contenido %}



<table class="table table-inverse">
  <thead>
    <tr>
      <th>Seccion</th>
      <th>Materia</th>
      <th>Profesor</th>
      <th>Recinto</th>
       <th class="extra">Curso</th>
      <th class="extra">Dias de clases</th>
      <th class="extra">hora</th>
       <th class="extra">Tanda</th>
      <th>Clasificación</th>
      
      
    </tr>
  </thead>
  <tbody class="buscar">
  	{%if secciones %}
  	{% for seccion in secciones %}
   
    <tr>
      <th scope="row"><a class="t-labe" href="">{{seccion.Seccion}}</a> </th>
      <td><a class="t-labe" href="{% url 'vista' seccion.id %}">{{seccion.Materia}}</a></td>
      <td><a  class="t-labe" href="{% url 'vista' seccion.id %}">{{seccion.Profesor}}</a> </td>
      <td><a class="t-labe" href="{% url 'vista' seccion.id %}">{{seccion.Recinto}}</a> </td>
       <td><a  class="t-labe" href="{% url 'vista' seccion.id %}"></a>{{seccion.Curso}} </td>
      <td><a  class="t-labe" href="{% url 'vista' seccion.id %}"></a>{{seccion.Dia1}} y  {{seccion.Dia2}} </td>
       <td><a class="t-labe" href="{% url 'vista' seccion.id %}"></a>{{seccion.hora}}</td>
      <td><a class="t-labe" href="{% url 'vista' seccion.id %}"></a>{{seccion.Tanda}}</td>
      <td><a class="t-labe" href="{% url 'vista' seccion.id %}"></a> {{seccion.Clasificacion}}</td>
     <td>
     <a type="button"  href="{% url 'editar' seccion.id %}"><button type="button" class="btn btn-primary"> Editar </button></a></td>
    </tr>
    {%endfor%}

{% else %}
<h1>No hay secciones</h1>
{% endif %}
  </tbody>
</table> 

{% endblock %}